<h1 class="first-screen__title__name">{{title}}</h1>
<div class="first-screen__title__text">
    <div class="first-screen__title__text__wrappImg" >
        <div class="load-page">
            <div class="lds-ripple"><div></div><div></div></div>
        </div>
        <img class="visibility load-content" loading="eager" src="{{mainImg}}" alt="{{title}}">
    </div>
    <div class="first-screen__title__text__wrappMain">
            <p><span>Зовнішність</span> <br><br>{{text}} </p>
    </div>
</div>