<section class="second-screen__video-box">
    <div class="second-screen__video-box__content">
        <video id="video" preload="auto" controls src="{{video}}" type="video/mp4"></video>
        <div class="second-screen__video-box__content__btn">
            <label>закрити</label>
        </div>
    </div>
</section>