{{> head-wife}}
<body>
    <div class="container visibility">
        {{{body}}}
    </div>
    <div class="load-page">
        <div class="lds-ripple"><div></div><div></div></div>
    </div>
    {{>script-wife}}
</body>
</html>