
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    overflow: hidden;

    .content, .images {
        height: inherit;
        max-height: 100vh;
        flex: 1;
    }

    .content {
        flex: 2;
        &__title {
            margin-top: 70px;
            margin-bottom: 90px;
            text-align: center;
            &_h {
                font-family: 'Merienda', cursive;
                font-size: 48px;
                font-weight: 500;
            }
            &_p {
                margin-top: 55px;
                font-weight: 500;
                font-size: 24px;
                color: #ECCFF1;
                text-transform: capitalize;
            }
        }
        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            input[type="email"] {
                margin-bottom: 30px;
            }
            input {
                border: none;
                outline: none;
                background: transparent;
                font-size: 20px;
                font-weight: 500;
                color: #EFA3F5;
                border-bottom: 3px solid #ECCFF1;
                padding: 5px;
            }
            button[type="submit"] {
                margin-top: 40px;
                width: 205px;
                height: 50px;
                border-radius: 28px;
                background: #EFA3F5;
                color: white;
                border: none;
                cursor: pointer;
                transition: background .3s ease-in;
                &:hover {
                    background: darken($color: #EFA3F5, $amount: 30);
                }
                &:disabled {
                    cursor: no-drop;
                }
            }
        }
        &__another {
            text-align: center;
            margin: 15px 0;
            & > p {
                margin-bottom: 5px;
            }
            &__links {
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 10px;
                a {
                    text-decoration: none;
                    color: #EFA3F5;
                    transition: transform .3s ease;
                    &:hover {
                        transform: scale(1.1);
                        color: #c8a0cc;
                    }
                }
            }
        }
        &__reaction {
            img {
                transform: translateY(120px);
                opacity: 0;
                width: 12%;
                image-rendering: auto;
                image-rendering: -webkit-optimize-contrast;
            }
        }
    }

    .images {
        background: linear-gradient(90deg,#f0baf5, #e2c3e4);
        background-size: 200% 200%;
        animation: gradientAnimate 3s linear infinite;
        // transition: background 5s ease-in;
        width: auto;
        display: flex;
        flex-direction: column;
        transition: transform 2s ease-in-out;
        &__item {
            height: inherit;
            width: 100%;
        }

    }
}

@keyframes gradientAnimate {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 200% 200%;
    }
}
