
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  font-family: 'Open Sans', sans-serif;
}

@-webkit-keyframes scroll {
  from {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  to {
    -webkit-transform: translateX(-83%);
            transform: translateX(-83%);
  }
}

@keyframes scroll {
  from {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  to {
    -webkit-transform: translateX(-83%);
            transform: translateX(-83%);
  }
}

.active {
  display: block;
  width: 15%;
  margin-left: 10px;
}

.section-2__wrapper-gallery__listWrapp-box__list-active {
  -webkit-animation: 9s linear .5s infinite alternate scroll;
          animation: 9s linear .5s infinite alternate scroll;
}

.container-div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  padding-top: 23px;
  padding-left: 50px;
  padding-right: 50px;
}

.containerBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #C4C4C4;
  border-radius: 20px;
  position: relative;
}

.containerBar ul {
  margin: 0;
}

.containerBar-home {
  margin: 15px 0 15px 38px;
  font-size: 36px;
  -webkit-text-decoration-color: #f7f7f7;
          text-decoration-color: #f7f7f7;
  -webkit-transition: -webkit-text-decoration-color 1s ease-out;
  transition: -webkit-text-decoration-color 1s ease-out;
  transition: text-decoration-color 1s ease-out;
  transition: text-decoration-color 1s ease-out, -webkit-text-decoration-color 1s ease-out;
}

.containerBar-home span {
  font-weight: 800;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), color-stop(135%, #AB35BE));
  background: linear-gradient(to top, #ffffff, #AB35BE 135%);
  -webkit-background-clip: text;
  color: transparent;
}

.containerBar-home:hover {
  -webkit-text-decoration-color: #ddaee5;
          text-decoration-color: #ddaee5;
}

.containerBar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: absolute;
  right: 0;
}

.containerBar-list li {
  margin-right: 24px;
  padding: 20px 4px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.containerBar-list li:last-child {
  margin-right: 35px;
}

.containerBar-list li a {
  font-weight: 700;
  text-decoration: none;
  color: #C4C4C4;
  font-size: 20px;
}

.containerBar-list li:hover {
  text-shadow: 0px 0px 20px #dba9e4, 0 0 20px #daa5e2, 0 0 40px #dcabe4;
}

.containerBar-list__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fkeqing%2Ffull-size-image%2Fphoto_2021-12-24_22-07-25.jpg?alt=media&token);
  background-size: cover;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.containerBar-list__img:hover {
  -webkit-box-shadow: 0px 0px 20px #dba9e4, 0 0 20px #daa5e2, 0 0 40px #dcabe4;
          box-shadow: 0px 0px 20px #dba9e4, 0 0 20px #daa5e2, 0 0 40px #dcabe4;
}

.section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.section-1__photo img {
  width: 410px;
}

.section-1__content {
  margin-left: 120px;
  padding-top: 25px;
  position: relative;
}

.section-1__content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-1__content-title__name {
  font-size: 40px;
  font-weight: 500;
}

.section-1__content-title img {
  width: 80px;
}

.section-1__content-text__mainText {
  width: 560px;
  font-weight: 400;
  font-size: 25px;
  margin-top: 17px;
  margin-left: 30px;
  margin-bottom: 25px;
}

.section-1__content-text__secondText {
  margin-bottom: 35px;
  margin-left: 55px;
}

.section-1__content form {
  right: 0;
  position: absolute;
}

.section-1__content form button {
  border-style: none;
  background: transparent;
  font-size: 25px;
  border: 0.5px solid #ddaee5;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px 25px;
  text-align: center;
  top: 50%;
  color: #AB35BE;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  -webkit-box-shadow: 12px 12px 2px 1px rgba(209, 0, 255, 0.2);
          box-shadow: 12px 12px 2px 1px rgba(209, 0, 255, 0.2);
}

.section-1__content form button:hover {
  color: #ffffff;
  background: #C478E8;
  -webkit-box-shadow: 0px 0px 19px 3px rgba(209, 0, 255, 0.2);
          box-shadow: 0px 0px 19px 3px rgba(209, 0, 255, 0.2);
}

.section-2 {
  margin: 80px 60px 60px 60px;
}

.section-2__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section-2__wrapper-gallery {
  position: relative;
}

.section-2__wrapper-gallery__listWrapp {
  width: 470px;
  height: 130px;
  border: 1px solid transparent;
  -o-border-image: linear-gradient(177deg, #fdfaff, #b45ac0);
     border-image: linear-gradient(177deg, #fdfaff, #b45ac0);
  border-image-slice: 1;
  margin-right: 44px;
  position: relative;
}

.section-2__wrapper-gallery__listWrapp-box {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-2__wrapper-gallery__listWrapp-box__list {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-2__wrapper-gallery__btn {
  width: 134px;
  height: 30px;
  background: #C478E8;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(291%, -268%) rotate(-90deg);
          transform: translate(291%, -268%) rotate(-90deg);
  position: absolute;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: color 2s linear;
  transition: color 2s linear;
}

.section-2__wrapper-gallery__btn a {
  text-decoration: none;
  color: #1a1a1a;
  text-align: center;
  font-size: 13px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-2__wrapper-gallery__btn:hover a {
  color: #ffffff;
}

.section-2__wrapper-gallery__listWrapp::before {
  content: 'Галерея Кєц';
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #f4e5fd;
  width: 165px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(10%, -50%);
          transform: translate(10%, -50%);
  position: absolute;
  z-index: 1;
  opacity: 0.9;
}

.section-2__wrapper-audio {
  width: 360px;
  height: 130px;
  border: 1px solid transparent;
  -o-border-image: linear-gradient(177deg, #fdfaff, #b45ac0);
     border-image: linear-gradient(177deg, #fdfaff, #b45ac0);
  border-image-slice: 1;
}

.section-2__wrapper-audio__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-2__wrapper-audio__wrapper img {
  height: 35px;
  margin-right: 10px;
}

.section-2__wrapper-audio::before {
  content: 'Голосові історії :';
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #f4e5fd;
  width: 168px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(10%, -50%);
          transform: translate(10%, -50%);
}

.footer {
  border-top: 3px solid #ddaee5;
  background: #eccff1;
  font-weight: 700;
  padding: 16px 60px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
}

.footer__wrapper-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__wrapper-text p {
  margin-left: 5px;
}

.footer__wrapper-link {
  -webkit-transition: all 2s ease-in;
  transition: all 2s ease-in;
  padding: 2px 3px;
  cursor: pointer;
}

.footer__wrapper-link a {
  color: #ffffff;
  margin-left: 5px;
}

.footer__wrapper-link:hover a {
  text-decoration: none;
}

.footer__wrapper-link:hover i {
  font-weight: 400;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
  -webkit-animation: lds-spinner 1.2s linear infinite;
          animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #ddaee5;
}

.lds-spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
