body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

a {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, a, p, body, ul, li, ol, span, img {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-div {
  background: url(https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/page%60s%2FaboutMe%2Fimage%2Fkeqing-city.png?alt=media&token=8ecb3e64-4d54-4f84-b375-84936ed7056a);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header {
  padding-top: 23px;
  padding-left: 50px;
  padding-right: 50px;
}

.containerBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #ccc;
  border-radius: 20px;
}

.containerBar-home {
  margin: 15px 0 15px 38px;
  font-size: 36px;
  -webkit-text-decoration-color: #d0d0d0;
          text-decoration-color: #d0d0d0;
  -webkit-transition: -webkit-text-decoration-color 1s ease-out;
  transition: -webkit-text-decoration-color 1s ease-out;
  transition: text-decoration-color 1s ease-out;
  transition: text-decoration-color 1s ease-out, -webkit-text-decoration-color 1s ease-out;
}

.containerBar-home span {
  background: -webkit-gradient(linear, left bottom, left top, from(#9C4AEE), color-stop(65%, #fff));
  background: linear-gradient(to top, #9C4AEE, #fff 65%);
  -webkit-background-clip: text;
  color: transparent;
}

.containerBar-home:hover {
  -webkit-text-decoration-color: #b125ca;
          text-decoration-color: #b125ca;
}

.containerBar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerBar-list li {
  margin-right: 24px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: relative;
}

.containerBar-list li:last-child {
  margin-right: 35px;
}

.containerBar-list li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.containerBar-list li:hover {
  text-shadow: 0px 0px 20px #e6bfec, 0 0 20px #e0d0e2, 0 0 40px #c7b4ca;
}

.containerBar-list__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  cursor: pointer;
  background: #fa8c38c9;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/page%60s%2Fmain%2Fimage%2FCharacter_Aether_Thumb.webp?alt=media&token=a68d0421-1d99-4ae3-8b8d-14671eb235e9);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.containerBar-list__img:hover {
  -webkit-box-shadow: 0px 0px 20px #dba9e4, 0 0 20px #daa5e2, 0 0 40px #dcabe4;
          box-shadow: 0px 0px 20px #dba9e4, 0 0 20px #daa5e2, 0 0 40px #dcabe4;
}

.section-1 {
  margin: 40px 50px 90px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-1__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 30px;
}

.section-1__wrapper-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 900;
  text-decoration: underline;
  font-size: 30px;
}

.section-1__wrapper-text::before {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Fimage%2Fphoto_2021-12-24_23-02-49.jpg?alt=media&token=a0d2bb02-f069-4f90-8661-65478d75ddfd);
  background-size: cover;
  margin-right: 10px;
}

.section-1__wrapper-info {
  list-style: circle;
  font-size: 23px;
  margin-left: 60px;
  margin-top: 40px;
}

.section-1__information-ofProject {
  width: 570px;
  font-weight: 500;
  font-size: 30px;
}

.section-1__information-ofProject :first-child {
  padding-top: 20px;
  padding-left: 20px;
  letter-spacing: 0.7px;
}

.section-1__information-ofProject :last-child {
  margin-top: 20px;
  font-size: 20px;
}

.footer {
  border-top: 3px solid #9C4AEE;
  background: #eccff1;
  font-weight: 700;
  padding: 15px 30px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.footer__wrapper-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__wrapper-text p {
  margin-left: 5px;
}
/*# sourceMappingURL=style.css.map */