$dark:rgb(26, 26, 26);
$textDecoration: #f7f7f7;
$white: #ffffff;
$purple: #AB35BE;
$purpleForForm: #561C83;
$purpleBackground: #c15cfe;
$purpleBtn: #C478E8;
$silver: #C4C4C4;
$border: linear-gradient(177deg, #fdfaff, #b45ac0);
$footer: #eccff1;
$white: #ffffff;
$purpleForLink: #ddaee5;