* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/page%60s%2FuserProfile%2FimageBackground%2Fkeqing-hung-out.jpg?alt=media&token=4fb0156e-2f0a-4b81-abec-b04b3598d947);
  background-size: contain;
  -webkit-backdrop-filter: brightness(0.7);
          backdrop-filter: brightness(0.7);
}

a {
  font-family: 'Open Sans', sans-serif;
}

main {
  width: 100%;
  min-height: 100vh;
  padding: 0 50px;
}

.header {
  padding-top: 23px;
  padding-left: 50px;
  padding-right: 50px;
}

.toggleGalleryVisible {
  position: relative;
  z-index: 1;
}

.d-none {
  display: none !important;
}

.containerBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #C4C4C4;
  border-radius: 20px;
  position: relative;
}

.containerBar ul {
  margin: 0;
}

.containerBar-home {
  margin: 15px 0 15px 38px;
  font-size: 36px;
  -webkit-text-decoration-color: #f7f7f7;
          text-decoration-color: #f7f7f7;
  -webkit-transition: -webkit-text-decoration-color 1s ease-out;
  transition: -webkit-text-decoration-color 1s ease-out;
  transition: text-decoration-color 1s ease-out;
  transition: text-decoration-color 1s ease-out, -webkit-text-decoration-color 1s ease-out;
}

.containerBar-home span {
  font-weight: 800;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), color-stop(135%, #AB35BE));
  background: linear-gradient(to top, #ffffff, #AB35BE 135%);
  -webkit-background-clip: text;
  color: transparent;
}

.containerBar-home:hover {
  -webkit-text-decoration-color: #ddaee5;
          text-decoration-color: #ddaee5;
}

.containerBar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: absolute;
  right: 0;
}

.containerBar-list li {
  margin-right: 24px;
  padding: 20px 4px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.containerBar-list li:last-child {
  margin-right: 35px;
}

.containerBar-list li a {
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

.containerBar-list li:hover {
  text-shadow: 0px 0px 20px #dba9e4, 0 0 20px #daa5e2, 0 0 40px #dcabe4;
}

.main__first__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.main__first__section__card {
  position: relative;
  background-image: url(../images/NameCards/Namecard_Background_Kamisato_Ayaka_Folding_Fan.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 35%;
  min-width: 27rem;
  margin: 2.5rem 2.5rem 2.5rem 0;
  border: 1px solid #ddaee5;
  height: 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 5px #eccff1, 0px 0px 0px 2px #ffffff;
          box-shadow: 0px 0px 10px 5px #eccff1, 0px 0px 0px 2px #ffffff;
  -webkit-transition: -webkit-box-shadow .5s ease-in-out;
  transition: -webkit-box-shadow .5s ease-in-out;
  transition: box-shadow .5s ease-in-out;
  transition: box-shadow .5s ease-in-out, -webkit-box-shadow .5s ease-in-out;
}

.main__first__section__card:hover {
  -webkit-box-shadow: 0px 0px 4px 0px #eccff1, 0px 0px 0px 2px #ffffff;
          box-shadow: 0px 0px 4px 0px #eccff1, 0px 0px 0px 2px #ffffff;
}

.main__first__section__card__settings {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 15px;
  color: white;
}

.main__first__section__card__settings form {
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.main__first__section__card__settings form input {
  width: 70%;
}

.main__first__section__card__settings form select {
  margin-left: 5px;
}

.main__first__section__card__settings form select, .main__first__section__card__settings form input {
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 5px;
}

.main__first__section__card__settings form select:focus-visible, .main__first__section__card__settings form input:focus-visible {
  outline: none;
  border: 2px solid transparent;
  -webkit-box-shadow: 0px 0px 5px 2px white, 0px 0px 13px 3px #8f55e3;
          box-shadow: 0px 0px 5px 2px white, 0px 0px 13px 3px #8f55e3;
}

.main__first__section__card__settings form input[type="submit"] {
  text-transform: uppercase;
  cursor: pointer;
  background-color: #ddaee5;
  color: white;
  width: 100%;
  padding: 10px 0;
}

.main__first__section__card__settings form input[type="submit"]:hover {
  background-color: #ca8cd4;
}

.main__first__section__card__wrapper__image, .main__first__section__card__wrapper__info {
  width: 100%;
}

.main__first__section__card__wrapper__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
}

.main__first__section__card__wrapper__image-setting {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 2rem;
  margin: 5px;
  cursor: pointer;
}

.main__first__section__card__wrapper__image-setting:hover {
  color: #AB35BE;
}

.main__first__section__card__wrapper__image-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__first__section__card__wrapper__image-wrapper__border {
  cursor: pointer;
  width: 120px;
  height: 120px;
  margin-bottom: 35px;
  border: 1.5px solid #ffbf35d4;
  border-radius: 50%;
  overflow: hidden;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-box-shadow .3s ease-in-out;
  transition: -webkit-box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
}

.main__first__section__card__wrapper__image-wrapper__border:hover {
  -webkit-box-shadow: 0px 0px 10px 5px #eccff1;
          box-shadow: 0px 0px 10px 5px #eccff1;
}

.main__first__section__card__wrapper__image-wrapper__border:hover .main__first__section__card__wrapper__image-wrapper__border-content {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.main__first__section__card__wrapper__image-wrapper__border-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 105px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 105px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background: #fa8c38c9;
  background-image: url(../images/Characters/106/Ayaka.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-filter .3s ease-in-out;
  transition: -webkit-filter .3s ease-in-out;
  transition: filter .3s ease-in-out;
  transition: filter .3s ease-in-out, -webkit-filter .3s ease-in-out;
}

.main__first__section__card__wrapper__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  gap: 10px;
  color: white;
}

.main__first__section__card__wrapper__info span {
  text-transform: capitalize;
}

.main__first__section__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__first__section__info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  width: 25rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main__first__section__info__wrapper__card {
  height: 6rem;
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
  transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
  transition: transform .3s ease-in-out, box-shadow .3s ease-in-out, -webkit-transform .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
}

.main__first__section__info__wrapper__card:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-filter: drop-shadow(0px 0px 8px white);
          filter: drop-shadow(0px 0px 8px white);
}

.main__first__section__info__wrapper__card__main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  background-color: #d99648;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.main__first__section__info__wrapper__card__main img {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 25%;
}

.main__first__section__info__wrapper__card__main::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 15px;
  height: 15px;
  background-color: #f7f3eb;
  -webkit-clip-path: polygon(67% 63%, 79% 46%, 91% 21%, 100% 0, 100% 100%, 0 100%, 27% 90%, 53% 76%);
          clip-path: polygon(67% 63%, 79% 46%, 91% 21%, 100% 0, 100% 100%, 0 100%, 27% 90%, 53% 76%);
}

.main__first__section__info__wrapper__card__footer {
  background-color: #f7f3eb;
  color: #1a1a1a;
  padding: 5px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}

.gallery {
  background-color: #dcabe4;
  border-radius: 5px;
}

.gallery button {
  background-color: white;
  font-size: 15px;
  border: 2px solid #d3a1ec;
  padding: 10px 25px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: background-color .3s ease-in, color .3s ease-in;
  transition: background-color .3s ease-in, color .3s ease-in;
}

.gallery button:not(:disabled):hover {
  background-color: #d3a1ec;
  color: white;
}

.gallery button :disabled {
  background: #edd4fa;
}

.gallery button i {
  margin-left: 5px;
}

.gallery_head {
  padding: 20px 10px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery_wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
  list-style: none;
  padding: 20px 5px;
  content-visibility: auto;
}

.gallery_wrapp li {
  height: 26vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -webkit-transition: -webkit-filter .5s ease-in;
  transition: -webkit-filter .5s ease-in;
  transition: filter .5s ease-in;
  transition: filter .5s ease-in, -webkit-filter .5s ease-in;
}

.gallery_wrapp li:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.gallery_wrapp li .container {
  display: none;
}

.gallery_wrapp li a img {
  max-height: 100%;
  min-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}

.gallery_preload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  margin-bottom: 10px;
}

.toggleGalleryVisible .gallery_wrapp > li {
  position: relative;
  -webkit-filter: none;
          filter: none;
}

.toggleGalleryVisible .gallery_wrapp > li .container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
}

.toggleGalleryVisible .gallery_wrapp > li .container:hover i {
  background: #b858b8;
}

.toggleGalleryVisible .gallery_wrapp > li .container .fa-circle-check {
  display: none;
}

.toggleGalleryVisible .gallery_wrapp > li .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggleGalleryVisible .gallery_wrapp > li .container input:checked ~ .fa-circle-check {
  display: block;
}

.toggleGalleryVisible .gallery_wrapp > li .container input:checked ~ .fa-circle-dot {
  display: none;
}

.toggleGalleryVisible .gallery_wrapp > li .container i {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50%;
  font-size: 30px;
  color: white;
  margin: 10px;
  font-weight: normal;
  background: #f074f0;
}

.footer {
  border-top: 3px solid #AB35BE;
  background: #eccff1;
  font-weight: 700;
  padding: 15px 30px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}

.footer__wrapper-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__wrapper-text p {
  margin-left: 5px;
}

.cart-characters {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cart-characters div.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.cart-characters-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 50rem;
  min-height: 33rem;
  background: white;
  margin: 0 auto;
  margin-top: 5rem;
  border-radius: 10px;
  position: relative;
}

.cart-characters-wrapp i {
  position: absolute;
  top: 12px;
  right: 28px;
  font-size: 30px;
  cursor: pointer;
  color: #AB35BE;
  -webkit-transition: font-weight .3s ease-in-out;
  transition: font-weight .3s ease-in-out;
}

.cart-characters-wrapp i:hover {
  font-weight: normal;
}

.cart-characters-wrapp__header {
  margin: 1rem auto;
  position: relative;
}

.cart-characters-wrapp__header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 20px;
}

.cart-characters-wrapp__header ul li {
  cursor: pointer;
  position: relative;
}

.cart-characters-wrapp__header ul li:hover::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  background-color: #ddaee5;
  width: 100%;
  height: 3px;
}

.cart-characters-wrapp__header ul li:active {
  color: #C478E8;
}

.cart-characters-wrapp__header ul li.active {
  color: #C478E8;
  position: relative;
}

.cart-characters-wrapp__header ul li.active:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  background-color: #8f55e3;
  width: 100%;
  height: 3px;
}

.cart-characters-wrapp__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 20px;
  border-top: 1px solid #fa8c38c9;
}

.cart-characters-wrapp__cards__characters, .cart-characters-wrapp__cards__user {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
}

.cart-characters-wrapp__cards__characters ul, .cart-characters-wrapp__cards__user ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cart-characters-wrapp__cards__user__wrapp {
  margin-left: 10px;
  cursor: pointer;
  width: 105px;
  height: 105px;
  border: 1.5px solid #ffbf35d4;
  border-radius: 50%;
  overflow: hidden;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-box-shadow .3s ease-in-out;
  transition: -webkit-box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
}

.cart-characters-wrapp__cards__user__wrapp:active {
  border-width: 2.5px;
}

.cart-characters-wrapp__cards__user__wrapp:hover .cart-characters-wrapp__cards__user__wrapp-item {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.cart-characters-wrapp__cards__user__wrapp-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background: #fa8c38c9;
  background-image: url(../images/Character/Background_Keqing.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-filter .3s ease-in-out;
  transition: -webkit-filter .3s ease-in-out;
  transition: filter .3s ease-in-out;
  transition: filter .3s ease-in-out, -webkit-filter .3s ease-in-out;
}

.cart-characters-wrapp__cards__characters__card {
  height: 6rem;
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: -webkit-filter .3s ease-in-out;
  transition: -webkit-filter .3s ease-in-out;
  transition: filter .3s ease-in-out;
  transition: filter .3s ease-in-out, -webkit-filter .3s ease-in-out;
}

.cart-characters-wrapp__cards__characters__card:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.cart-characters-wrapp__cards__characters__card:active {
  -webkit-box-shadow: 0px 0px 8px 1px #ffbf35d4;
          box-shadow: 0px 0px 8px 1px #ffbf35d4;
}

.cart-characters-wrapp__cards__characters__card-main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  background-color: #d99648;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: url(../images/Character/Character_Kaedehara_Kazuha_Thumb.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.cart-characters-wrapp__cards__characters__card-main img {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 25%;
}

.cart-characters-wrapp__cards__characters__card-main::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 15px;
  height: 15px;
  background-color: #f7f3eb;
  -webkit-clip-path: polygon(67% 63%, 79% 46%, 91% 21%, 100% 0, 100% 100%, 0 100%, 27% 90%, 53% 76%);
          clip-path: polygon(67% 63%, 79% 46%, 91% 21%, 100% 0, 100% 100%, 0 100%, 27% 90%, 53% 76%);
}

.cart-characters-wrapp__cards__characters__card-footer {
  background-color: #f7f3eb;
  color: #1a1a1a;
  padding: 5px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}

.active-preload {
  display: none !important;
}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #fcf;
  -webkit-animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
          animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #fcf;
}

.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}

@-webkit-keyframes lds-heart {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  5% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  39% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes lds-heart {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  5% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  39% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
/*# sourceMappingURL=style.css.map */